.OPIconBar {
	list-style-type: none;	
	height: 78px;
	margin-left: 6px;
}

.OPIconBarItem, .OPIconBarSpacerItem {
	float: left;
	height: 78px;
}

.OPIconBarSpacerItem {
	background-image: url(/images/gui/iconBarSeparator.gif);	
	width: 1px;
	background-repeat: no-repeat;
	margin-left: 6px;
	margin-right: 6px;
}

.OPIconBarItem table {
	border-collapse: collapse;
	height: 78px;
	margin-left: 1px;
}

.OPIconBarItem .description, .OPIconBarItem .icon {
	cursor: default;
	text-align: center;
}

.OPIconBarItem .icon {
	padding: 30px 5px 0px 5px;	
	height: 30px;
}

.OPIconBarItem .description {
	padding-top: 2px;
	height: 25px;
	font-size:11px;
	text-shadow: 0px 1px 1px #fff; 
}

.OPIconBarItem .left, .OPIconBarItem .right {
	background-repeat: repeat-x;
	width: 4px;
}

.OPIconBarItem .center {
	padding-left: 5px;
	padding-right: 5px;
	height: 78px;
	display: block;	
}

.OPIconBarItem.active .left {
	background-image: url(/images/gui/iconBarSelectedLeft.gif);	
}

.OPIconBarItem.active .center {
	background-image: url(/images/gui/iconBarSelectedMiddle.gif);
}

.OPIconBarItem.active .right {
	background-image: url(/images/gui/iconBarSelectedRight.gif);	
}

.inactiveBrowserWindow .OPIconBarItem.active .left {
	background-image: url(/images/gui/iconBarSelectedLeftInactive.gif);	
}

.inactiveBrowserWindow .OPIconBarItem.active .center {
	background-image: url(/images/gui/iconBarSelectedMiddleInactive.png);
}

.inactiveBrowserWindow .OPIconBarItem.active .right {
	background-image: url(/images/gui/iconBarSelectedRightInactive.gif);	
}