html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
img,body,html{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}

#tabCycleCatcher {
	position:absolute;
	right:0px;
	bottom:0px;
	width: 0px;
	height: 0px;
	opacity: 1.0; 
}

.selectable {
	-moz-user-select: text;
	-khtml-user-select: text;
}

.unselectable {

}
body {
	height: 100%;
	width: 100%;
	background-image: url(/images/gui/loadingbackground.png);
	background-repeat: repeat;
	font: 13px Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	overflow: hidden;
	background-color: #545A56;
	width: 100%;
	height: 100%;
}

img, input {
	behavior: url(/iepngfix/iepngfix.htc);
}

input[type="checkbox"] { margin-top: 5px; }

small { 
	font-size:9px; 
}
td {
	font-size:11px; 
}

#loaderDiv {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -83px;
	margin-left: -47px;
	width: 87px;
	height: 122px;
	background-image: url(/images/gui/crow.png);
	visibility: visible;
	opacity: 0.35;
}

#prespinnerDiv {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 60px;
	margin-left: -16px;
	height: 19px;
	width: 220px;
}

#loginDiv {
	margin-top: 150px;
	width: 290px;
	margin-left: 5px;
	height: 73px;
	background: url("/images/gui/loginBackground.png") no-repeat 0 3px;	
}

#loginMessageDiv {
	position: fixed;
	left: 50%;
	margin-left: -142px;
	width: 240px;
	height: 30px;
	top: 282px;
}

#loginDiv .labelElement {
	padding-left: 10px;	
	width: 90px;
}

#loginDiv .labelElementError {
	padding-left: 10px;	
	width: 90px;
}

.disabledField {
	border: 1px solid #e7e7e7; 
	background: #e7e7e7;
}

label { font: 11px Arial, Helvetica, sans-serif; }

.x-panel-footer {
	background-color: #e7e7e7;
}

#saveButtonHolder {
	bottom: 39px;
	position: fixed;
	background-image: url(/images/gui/itemlistbottom.png);
	height: 29px;
	padding-right:20px;
	width: 900px;
	margin-left: 50%;
	left: -450px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #222222;
}

.inactiveBrowserWindow #saveButtonHolder {
	background-image: url(/images/gui/itemlistbottomInactive.png);
}

html > body #saveButtonHolder {
	padding-right:0px;
	width: 900px;
}

#saveButton {
	padding-top: 4px;
	padding-right: 6px;
	width: 70px;
}

#fullWindowArea {
	margin-left: 50%;
	left: -450px;
	top: 97px;
	position: absolute;
	width: 900px;
	overflow: hidden;
}

#welcomeDivHolder {
	margin-left: 50%;
	left: -450px;
	top: 99px;
	position: fixed;
	font-size:11px;
	width: 900px;
	border-bottom: 1px solid #444444;
	background-color: #e8e8e8;
	overflow: hidden;
}


.groupHolder {
	clear: both;
}

.groupTable {
	border-collapse: collapse;
	width: 601px;
}

.groupTopLeft {
	background-image : url(/images/gui/groupLevel1TopLeft.gif);
	width: 5px;
	height: 5px;
}

.groupTopCenter {
	background-image : url(/images/gui/groupLevel1TopCenter.gif);
	height: 5px;	
}

.groupTopRight {
	background-image: url(/images/gui/groupLevel1TopRight.gif);
	width: 5px;
	height: 5px;
}

.groupCenterLeft {
	background-image : url(/images/gui/groupLevel1CenterLeft.gif);
}

.groupCenterMiddle {
	
}

.groupCenterRight {
	background-image : url(/images/gui/groupLevel1CenterRight.gif);
	
}

.groupBottomLeft {
	background-image : url(/images/gui/groupLevel1BottomLeft.gif);
	width: 5px;
	height: 5px;
}

.groupBottomMiddle {
	background-image : url(/images/gui/groupLevel1BottomCenter.gif);
	height: 5px;	
}

.groupBottomRight {
	background-image : url(/images/gui/groupLevel1BottomRight.gif);
}

#modal {
	position: absolute;
	width: 650px;
	z-index: 10000;
	background-color: #000;
	/* for IE */
	filter:alpha(opacity=0);
	/* CSS3 standard */
	opacity:0.0;
	visibility: hidden;
}

#modalMessageDiv {
	top: 68px;
	position: fixed;
	z-index: 10001;
	width: 700px;
	padding-top: 20px;
	left: 50%; 
	margin-left: -350px;
	visibility: hidden;
}

.modalLoadingDiv {
	z-index: 1000000;
	position: fixed;
	left: 50%;
	margin-left: 405px;
	top: 54px;
}

.modalLoadingDivLogin {
	position: fixed;
	left: 50%;
	margin-left: -140px;
	top: 278px;
}

#modalMessageDivTop {
	background-image: url(/images/gui/modalTop.png);
	height: 20px;
}

#modalMessageContent {
	background-image: url(/images/gui/modalMiddle.png);
	background-repeat: repeat-y;
	display: block;
	vertical-align: top;
	width: 700px;
	padding-left: 42px;
	padding-right: 42px;
	
}
#modalMessageDivBottom {
	background-image: url(/images/gui/modalBottom.png);
	height: 30px;
}

.formFieldsButton {
	position: absolute;
	margin-bottom:-20px;
}
.addDeleteButtonHolder {
	padding-top: 3px;
}

.addButton, .addButtonDisabled {
	width: 23px;
	height: 22px;
	background-repeat: no-repeat;
	float: left;
}

.addButton {
	background-image: url(/images/gui/addButton.gif);
	cursor: pointer;
}

.addButtonDisabled {
	background-image: url(/images/gui/addButtonDisabled.gif);
}

#itemListButtons .addButton {
	width: 26px;
	height: 19px;
	background-image: url(/images/gui/listAddButton.png);
}

#itemListButtons .addButtonDisabled {
	width: 26px;
	height: 19px;
	background-image: url(/images/gui/listAddButtonDisabled.png);
}

.deleteButton, .deleteButtonDisabled {
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	float: left;
}

.deleteButton {
	background-image: url(/images/gui/deleteButton.gif);
	cursor: pointer;
	float: left;
}

.deleteButtonDisabled {
	background-image: url(/images/gui/deleteButtonDisabled.gif);
}

#itemListButtons .deleteButton {
	width: 25px;
	height: 19px;
	background-image: url(/images/gui/listDeleteButton.png);
}

#itemListButtons .deleteButtonDisabled {
	width: 25px;
	height: 19px;
	background-image: url(/images/gui/listDeleteButtonDisabled.png);
}

#app {
	top: 0px;
	bottom: 0px;
	height: auto;
	width: 900px;
	text-align: left;
	visibility: hidden;
}

#mainBottom {
	height: 21px;
	width: 900px;
	background-image: url(/images/gui/groupFrameBottom.png);
	background-repeat: no-repeat;
	text-align: right;
	margin-left: 50%;
	left: -450px;
	bottom: 70px;
	position: fixed;
}

.FormObject {
	padding: 4px;
	background-color: #e1e1e1;
}

.childFormObjects {
	padding-top: 10px;
}

.nameDiv {
	margin-bottom: 4px;
	font-size: small;
	border-bottom: 1px solid #b1b1b1;
	padding-right: 10px;
	width: 590px;
}

#menu {
	width: 900px;
	height: 40px;
}

#nav {
	width: 200px;
	height: 400px;
}

#mainArea {
	width: 900px;
	margin-left: 50%;
	left: -450px;
	top: 97px;
	bottom: 50px;
	background-image: url(/images/gui/groupFrameMiddle.png);
	overflow-y: hidden;
	position: fixed;
	z-index: -10;
}

#mainAreaLeft {
	margin-right: 0px;
	top: 145px;
	bottom: 42px;
	width: 220px;
	margin-left: 50%;
	left: -420px;
	overflow-y: visible;
	position: fixed;
}

#itemListArea {
	top: 122px;
	bottom: 80px;
	width: 181px;
	margin-left: -432px;
	left: 50%;
	overflow: hidden;
	position: fixed;
	z-index: 10;
	-webkit-user-select:none;
	-moz-user-select:none;
}

#mainAreaRight {
	top: 140px;
	bottom: 94px;
	width: 630px;
	margin-left: 50%;
	left: -209px;
	overflow-y: auto;
	position: fixed;
	z-index: -100;
}

#mainAreaRight p {
	padding-right:30px;
}

#debug {
	font-size: 8px;
	width: 200px;
	visibility: hidden;
}

#debugList ul {
	padding-left: 10px;
	list-style-type: disc;
}

#iconBar {
	top: 21px;
	height: 78px;
	width: 900px;
	margin-left: 50%;
	left: -450px;
	font-size: 10px;
	position: fixed;
	-webkit-user-select:none;
	-moz-user-select:none;
}

#iconBar table { 
	margin-left:1px;
	border-collapse:collapse; 
	height:78px;
}

#iconBar table TD {
	text-align:center;
	vertical-align:top;
	cursor:default;
}

#iconbarText{
	padding:0px 5px 0px 0px;
	width: 100%;
	white-space: nowrap;
}

html > body, #iconbarText{
	padding:0px;
}

#iconBarTitle {
	margin-left: 50%;
	left: -450px;
	width: 900px;
	position: fixed;
	text-align: center;
	top: 25px;
	z-index: 10;
	font-size: 13px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.itemListGrid {
	-webkit-user-select:none;
	-moz-user-select:none;
}

.inactiveBrowserWindow #iconBarTitle {
	color: #444444;
}

.iconHolder {
	padding-left: 7px;
	padding-right: 7px;
}

.tableElement {
	height: 78px;
	padding-left: 5px;
}

.iconTdLeft, .iconTdRight {
	background-repeat: repeat-x;
	width: 4px;
}
.iconTdMain {
	padding-left: 5px;
	padding-right: 5px;
}

.selected .iconTdLeft {
	background-image: url(/images/gui/iconBarSelectedLeft.gif);	
}

.selected .iconTdRight {
	background-image: url(/images/gui/iconBarSelectedRight.gif);	
}

.selected .iconTdMain {
	background-image: url(/images/gui/iconBarSelectedMiddle.gif);
}

.inactiveBrowserWindow .selected .iconTdLeft {
	background-image: url(/images/gui/iconBarSelectedLeftInactive.gif);	
}

.inactiveBrowserWindow .selected .iconTdRight {
	background-image: url(/images/gui/iconBarSelectedRightInactive.gif);	
}

.inactiveBrowserWindow .selected .iconTdMain {
	background-image: url(/images/gui/iconBarSelectedMiddleInactive.png);
}

.classIcon {
	padding: 30px 5px 0px 5px;
}

.classDescription, .classIcon {
	cursor: default;
	text-align: center;
}

.classDescription {
	padding-top: 2px;
	height: 25px;
	font-size:11px;
	text-shadow: 0px 1px 1px #fff; 
}

#tabBar {
	top: 99px;
	margin-left: 50%;
	left: -450px;
	height: 37px;
	width: 900px;
	background-image: url(/images/gui/groupFrameTop.png);
	background-repeat: no-repeat;
	position: fixed;
	-webkit-user-select:none;
	-moz-user-select:none;
}



#tabBar ul
{
	margin:0px;
	padding:0px;
	clear:both;
	font-size:11px;	
}

#tabBarDiv {
	width: 400px; 
	padding-top: 13px;
	/*height: 30px;*/
	position: fixed;
}

.tabHolder {
	list-style-type: none;
}

#tabHolder li {
	display: inline;
	float : left;
	font-size: 12px;
}

li.tab, li.tabSelected, li.tabPushed, li.tabStart ,li.tabStartSelected, li.tabStartPushed ,li.tabEnd ,li.tabEndSelected, li.tabEndPushed, li.tabDelimiter, li.tabDelimiterSelected, li.tabDelimiterPushed, li.tabDisabled {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 21px;
	display: inline;
	line-height: 21px;
	cursor: pointer;
	vertical-align: text-bottom;
}

li.tabDelimiterSelected {
	width:1px;
}
li.tab, li.tabDisabled {
	background-image: url(/images/gui/tab_fill.gif);
	padding-left: 8px;
	padding-right: 8px;
	height:21px;
	line-height:21px;
	cursor:default;
}

#tabStart, li.tabStart
{
	background-image: url(/images/gui/tab_start.gif);
	width:10px;
	height:21px;
	cursor:default;
}

li.tabSelected {
	background-image: url(/images/gui/tab_hlite.gif);
	padding-left: 8px;
	padding-right: 8px;
	height:21px;
	line-height:21px;
	cursor:default;
}

.inactiveBrowserWindow li.tabSelected {
	background-image: url(/images/gui/tab_pushed.gif);
}

li.tabPushed {
	background-image: url(/images/gui/tab_pushed.gif);
	padding-left: 8px;
	padding-right: 8px;
	height:21px;
	line-height:21px;
	cursor:default;
}

#tabStart.tabStartSelected, li.tabStartSelected {
	background-image: url(/images/gui/tab_start_selected.gif);
	height:21px;
	width:10px;
	cursor:default;
}

.inactiveBrowserWindow li.tabStartSelected {
	background-image: url(/images/gui/tab_start_pushed.gif);
}

.inactiveBrowserWindow #tabStart.tabStartSelected {
	background-image: url(/images/gui/tab_start_pushed.gif);
}

#tabStart.tabStartPushed, li.tabStartPushed {
	background-image: url(/images/gui/tab_start_pushed.gif);
	height:21px;
	width:10px;
	cursor:default;
}

li.tabDisabled {
	cursor: default;
}

li.tabDisabled {
	color: #808080;
}

.tabStart, .tabStartSelected, .tabEnd, .tabEndSelected, .tabDisabled {
	/*padding: 3px;*/
	background-repeat: repeat-x;
}

.tabStart {
	background-image: url(/images/gui/tab_start.gif);
	height:21px;
	width:10px;
	cursor: default;
}

li.tabEnd {
	background-image: url(/images/gui/tab_end.gif);
	height:21px;
	width:10px;
	cursor: default;
}

li.tabEndSelected {
	background-image: url(/images/gui/tab_end_selected.gif);
	height:21px;
	width:10px;
	cursor: default;
}

.inactiveBrowserWindow li.tabEndSelected {
	background-image: url(/images/gui/tab_end_pushed.gif);
}

li.tabEndPushed {
	background-image: url(/images/gui/tab_end_pushed.gif);
	height:21px;
	width:10px;
	cursor: default;
}

.tabDelimiter {
	background-image: url(/images/gui/tab_delimiter.gif);
	padding-left: 1px;
	height:21px;
	width:1px;
	cursor:default;
}

.tabDelimiterSelected {
	background-image: url(/images/gui/tab_delimiter_selected.gif);
	padding-left: 1px;
	height:21px;
	width: 1px;
	cursor: default;
}

.tabDelimiterPushed {
	background-image: url(/images/gui/tab_delimiter_pushed.gif);
	height:21px;
	width: 1px;
	cursor: default;
}

.grid, .fields {
	padding-top: 4px;
}

.createOneSpan {
	cursor: pointer;
}

#clickDivActive {
	border: 2px solid #0F0;
	display: block;
	position: absolute;
	top:0;
	left:0; 
	z-index: 1;
	width: 100%;
	height: 100%;
}

#clickDivInActive {
	visibility: hidden;
}

#shadowBottom {
	display: block;
	background-image: url(/images/gui/shadowBottom.png);
	bottom: 0px;
	margin-left: 50%;
	left: -485px;
	position: fixed;
	width: 970px;
	height: 40px;
}

#shadowTop {
	display: block;
	background-image: url(/images/gui/shadowIconBar.png);
	background-repeat: no-repeat;
	top: 0px;
	margin-left: 50%;
	left: -485px;
	position: fixed;
	width: 970px;
	height: 99px;
}

.inactiveBrowserWindow #shadowTop {
	background-image: url(/images/gui/shadowIconBarInactive.png);
}

#shadowLeft {
	display: block;
	background-image: url(/images/gui/shadowLeft.png);
	top: 99px;
	bottom: 40px;
	margin-left: 50%;
	left: -486px;
	position: fixed;
	width: 36px;
}

#shadowRight {
	display: block;
	background-image: url(/images/gui/shadowRight.png);
	top: 99px;
	bottom: 40px;
	margin-left: 50%;
	left: 450px;
	position: fixed;
	width: 36px;
}

#close {
	position: fixed;
	display: block;
	margin-left: 50%;
	left: -443px;
	top: 25px;
	width: 14px;
	height: 15px;
	background: url(/images/gui/closeButton.gif) no-repeat 0 0;
	z-index: 999;
	text-decoration: none;
	-webkit-user-select:none;
	-moz-user-select:none;
}

#bugButton, #bugButton a {
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: 352px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

#close:hover{
	background-position: 0 -15px;
}


.windowTopLeft {
	background: url(/images/gui/windowTopLeft.png) no-repeat 0 0;
	width: 62px;
	height: 48px;
	position: fixed;
	left: 50%;
	margin-left: -212px;
}

.windowTop {
	background: url(/images/gui/windowTop.png) repeat-x 0 0;
	width: 300px;
	height: 48px;
	position: fixed;
	left: 50%;
	margin-left: -150px;
}

.windowTopRight {
	background: url(/images/gui/windowTopRight.png) no-repeat 0 0;
	width: 62px;
	height: 48px;
	position: fixed;
	left: 50%;
	margin-left: 150px;
}

.windowLeft {
	background: url(/images/gui/windowLeft.png) repeat-y 0 0;
	width: 62px;
	height: 262px;
	position: fixed;
	left: 50%;
	margin-left: -212px;
	margin-top: 48px;
}

.windowCenter {
	width: 300px;
	height: 262px;
	position: fixed;
	left: 50%;
	margin-left: -150px;
	margin-top: 48px;
	background-color: #e8e8e8;
}

.windowRight {
	background: url(/images/gui/windowRight.png) repeat-y 0 0;
	width: 62px;
	height: 262px;
	position: fixed;
	left: 50%;
	margin-left: 150px;
	margin-top: 48px;
}

.windowBottomLeft {
	background: url(/images/gui/windowBottomLeft.png) no-repeat 0 0;
	width: 62px;
	height: 78px;
	position: fixed;
	left: 50%;
	margin-left: -212px;
	margin-top: 310px;
}

.windowBottom {
	background: url(/images/gui/windowBottom.png) repeat-x 0 0;
	width: 300px;
	height: 78px;
	position: fixed;
	left: 50%;
	margin-left: -150px;
	margin-top: 310px;
}

.windowBottomRight {
	background: url(/images/gui/windowBottomRight.png) no-repeat 0 0;
	width: 62px;
	height: 78px;
	position: fixed;
	left: 50%;
	margin-left: 150px;
	margin-top: 310px;
}

.windowLogo {
	background: url(/images/OpenPanelLogo.png) no-repeat 0 0;
	width: 220px;
	height: 200px;
	position: fixed;
	left: 50%;
	margin-left: -95px;
	margin-top: 54px;
}

.windowButtonHolder {
	text-align: right;
}

.buttonLeft {
	background: url(/images/gui/buttonLeft.png) no-repeat 0 -24px;
	width: 14px;
	height: 24px;
	cursor: default;
}

.formButtonLeft {
	background: url(/images/gui/formButtonLeft.png) no-repeat 0 -24px;
	width: 14px;
	height: 24px;
	cursor: default;
}

#saveButton .buttonLeft {
	background: url(/images/gui/toolButtonLeft.png) no-repeat 0 -24px;
	width: 14px;
	height: 24px;
	cursor: default;
}

.buttonCenter {
	background: url(/images/gui/buttonCenter.png) repeat-x 0 -24px;
	height: 23px;
	font-size: 12px;
	color: #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	cursor: default;
}

.formButtonCenter {
	background: url(/images/gui/formButtonCenter.png) repeat-x 0 -24px;
	height: 23px;
	font-size: 11px;
	color: #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	cursor: default;
}

#saveButton .buttonCenter {
	background: url(/images/gui/toolButtonCenter.png) repeat-x 0 -24px;
	height: 23px;
	font-size: 11px;
	color: #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	cursor: default;
}

.buttonRight {
	background: url(/images/gui/buttonRight.png) no-repeat 0 -24px;
	width: 14px;
	height: 24px;
	cursor: default;
}

.formButtonRight {
	background: url(/images/gui/formButtonRight.png) no-repeat 0 -24px;
	width: 14px;
	height: 24px;
	cursor: default;
}

#saveButton .buttonRight {
	background: url(/images/gui/toolButtonRight.png) no-repeat 0 -24px;
	width: 14px;
	height: 24px;
	cursor: default;
}

.buttonLeftOver {
	background: url(/images/gui/buttonLeft.png) no-repeat 0 -0px;
	width: 14px;
	height: 24px;
}

.formButtonLeftOver {
	background: url(/images/gui/formButtonLeft.png) no-repeat 0 -0px;
	width: 14px;
	height: 24px;
}

#saveButton .buttonLeftOver {
	background: url(/images/gui/toolButtonLeft.png) no-repeat 0 -0px;
	width: 14px;
	height: 24px;
}

.buttonCenterOver {
	background: url(/images/gui/buttonCenter.png) repeat-x 0 0px;
	height: 23px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
}

.formButtonCenterOver {
	background: url(/images/gui/formButtonCenter.png) repeat-x 0 0px;
	height: 23px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-size: 11px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
}

.guiButtonText {
	white-space: nowrap;
}
.formButtonCenter .guiButtonText {
	margin-top: -3px;
}

.formButtonCenterOver .guiButtonText {
	margin-top: -3px;
}

#saveButton .guiButtonText {
	margin-top: -3px;
}

#saveButton .guiButtonText {
	margin-top: -3px;
}

.inactiveBrowserWindow #saveButton .guiButtonText {
	color: #888888;
}

.inactiveBrowserWindow .generatedButton {
	opacity: 0.5;
}

.disabledGuiButtonText {
	opacity: 0.5;
	margin-top: -2px;
}

.disabledGuiButtonDefaultText {
	opacity: 0.5;
}

#saveButton .buttonCenterOver {
	background: url(/images/gui/toolButtonCenter.png) repeat-x 0 0px;
	height: 23px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-size: 11px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
}

.buttonRightOver {
	background: url(/images/gui/buttonRight.png) no-repeat 0 0;
	width: 14px;
	height: 24px;
}

.formButtonRightOver {
	background: url(/images/gui/formButtonRight.png) no-repeat 0 0;
	width: 14px;
	height: 24px;
}

#saveButton .buttonRightOver {
	background: url(/images/gui/toolButtonRight.png) no-repeat 0 0;
	width: 14px;
	height: 24px;
}

.generatedButton {
	text-decoration: none;
	background: none;
	padding-bottom: 2px;	
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#loginButton {
	background-color: #e8e8e8;
	border: 0px;
}

.buttonCancel {
	float: right;
}

.explanation {
	font-size: 11px;
	margin-bottom: 4px;
}

#popup {
	width: 605px;
}

#itemListButtons {
	position: fixed;
	left: 50%;
	margin-left: -450px;
	padding-top: 3px;
	padding-left: 6px;
	bottom: 40px;
	height: 27px;
	width: 192px;
}

.createMultiple {
	background: url(/images/gui/select.png) no-repeat 0 0;
	width: 28px;
	height: 22px;
	float: left;
	border: 0px;
}

.createMultipleClick {
	background: url(/images/gui/select.png) no-repeat 0 -22px;
	width: 28px;
	height: 22px;
	float: left;
	border: 0px;
}

@CHARSET "UTF-8";

.formColumn {
	border: 1px solid #000;
	background-color: #ff0000;
}

.elementContainer {
	float: left;
}

.stringElement {
	color: #000000;
	font-size: 12px;
}

.stringElementHint {
	color: #808080;
	font-size: 12px;
}

.stringElementDisabled {
	padding-top: 3px;
	font-size: 12px;
}

.textareaElement {
	color: #000000;
	font-size: 12px;
}

.textareaElementHint {
	color: #808080;
	font-size: 12px;
}

.textareaElementDisabled {
	padding-top: 3px;
	font-size: 12px;
}

.checkboxElement {
	border: 1px solid #000;
	width: 20px;
}

.labelElement {
	height: 12px;
	color: #000000;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.labelElementError {
	height: 12px;
	color: #E00000;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12px;
	
}

.radioElement {
	width: 18px;
	height: 18px;
	float: left;
	background-image: url(/images/radioButtons.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.radioElementUp {
	width: 18px;
	height: 18px;
	float: left;background-image: url(/images/radioButtons.gif);
	background-position: 0px 36px;
}

.radioElementActiveDown {
	width: 18px;
	height: 18px;
	float: left;background-image: url(/images/radioButtons.gif);
	background-position: 0px 18px;
}

.radioElementInActiveDown {
	width: 18px;
	height: 18px;
	float: left;background-image: url(/images/radioButtons.gif);
	background-position: 0px 54px;
}

.enumElement {
	color: #000000;
}

.enumElementDisabled {
	color: #a0a0a0;
}

.clickDivActive {
	padding: 2px 2px 2px 2px;
	display: block;
	position: absolute;
	top:0;
	left:0; 
	z-index: 1;
	width: 100%;
	height: 100%;
}

.clickDivInActive {
	visibility: hidden;
}

.labelTd {
	width: 30%;
	white-space: nowrap;
	text-align: right;
	padding-right: 2px;
	padding-left: 2px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.formTable td {
	padding-bottom: 4px;
}


.dropDownMenu table {
	width: 300px;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}

.dropdownTR {
	height: 11px;
}
.dropDownMenu td {
	padding-bottom: 0px;
}

td.label {
	font-family: 'Lucida Grande'; font-size: 13px;
	padding-right: 8px;
}

.dropDownButton {
	display: block;
	float: left;
	width: 200px;
	height: 19px;
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.dropDownButtonLeft {
	float: left;
	height: 18px;
	width: 7px;
	background: url(/images/gui/dropdown_button_left.png);
}

.dropDownButtonCenter {
	float: left;
	height: 17px; 
	white-space: nowrap; 
	background: url(/images/gui/dropdown_button_mid.png);
	width: 150px;
	overflow: hidden;
	font-family: 'Lucida Grande'; 
	font-size: 12px; 
	padding-top: 1px; 
	padding-bottom: 0px;
	padding-right: 8px;
}

.dropDownButtonRight {
	float: left; 
	height: 18px; 
	width: 18px; 
	background: url(/images/gui/dropdown_button_right.png);
}

.dropDownMenu {
	position: relative;
	display: none;
	cursor: default;
	opacity: 0.92;
	-moz-user-select: none;
	-khtml-user-select: none;
}


.dropDownMenuItem, .dropDownMenuItemSelected {
	padding-left: 8px;
	padding-right: 8px;
	margin: 0px;
	border-left: 1px solid #959595;
	border-right: 1px solid #959595;
	font-family: 'Lucida Grande';
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropDownMenuItem {
	color: #000000;
	background: url(/images/gui/menu_bg.png);
}

.dropDownMenuItemSelected {
	color: #ffffff;
	background: url(/images/gui/menu_selection.png);
}

.dropDownMenuEdge {
	font-size: 1px;
	background-repeat: repeat-x;
}

.gridView {
	overflow: hidden;
	border-width: 1px;
	border-top: 1px solid #909090;
	border-left: 1px solid #a8a8a8;
	border-right: 1px solid #a8a8a8;
	border-bottom: 1px solid #a8a8a8;
	background-color: #f8f8f8;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.gridViewTitle {
	height: 15px;
	padding: 0px;
	overflow: hidden;
	background: url(/images/gui/gridview_title_bg.png);
	border-bottom: 1px solid #666666;
}

.gridViewTitleItem {
	float: left;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #aaaaaa;
	margin: 0px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-weight: bold;
}

.gridViewButtonArea {
	height: 21px;
	padding: 0px;
	background: url(/images/gui/gridBottomMiddle.png) repeat-x 0 0px;
	border-top: 1px solid #a8a8a8;
	border-bottom: 0px;
	margin: 0px;
}

.gridViewCreateButton, .gridViewCreateButtonPushed, .gridViewCreateButtonDisabled, .gridViewDeleteButton, .gridViewDeleteButtonPushed, .gridViewDeleteButtonDisabled {
	float: left;
	height: 21px;
	width: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-right: 1px solid #a8a8a8;
}

.gridViewCreateButton {
	background: url(/images/gui/gridButtonCreate.png) no-repeat 0 0px;
}

.inactiveBrowserWindow .gridViewCreateButton {
	background: url(/images/gui/gridButtonCreateDisabled.png) no-repeat 0 0px;
}

.gridViewCreateButtonPushed {
	background: url(/images/gui/gridButtonCreatePushed.png) no-repeat 0 0px;
}

.gridViewCreateButtonDisabled {
	background: url(/images/gui/gridButtonCreateDisabled.png) no-repeat 0 0px;
}

.gridViewDeleteButton {
	background: url(/images/gui/gridButtonDelete.png) no-repeat 0 0px;
}

.inactiveBrowserWindow .gridViewDeleteButton {
	background: url(/images/gui/gridButtonDeleteDisabled.png) no-repeat 0 0px;
}

.gridViewDeleteButtonPushed {
	background: url(/images/gui/gridButtonDeletePushed.png) no-repeat 0 0px;
}

.gridViewDeleteButtonDisabled {
	background: url(/images/gui/gridButtonDeleteDisabled.png) no-repeat 0 0px;
}

.gridViewContents {
	top: 15px;
	padding-top: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #aaaaaa;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f8f8f8;
	border-top: 0px;
	border-right-color: #a8a8a8;
	border-left-color: #a8a8a8;
	border-bottom-color: #a8a8a8;
}

.gridViewRow, .gridViewRowSelected, .gridViewRowSelectedUnfocused {
	height: 17px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
}

.gridViewRow {
	color: #000000;
	text-shadow: none;
	font-weight: normal;
}

.gridViewRowSelected {
	background: url(/images/gui/selected.png);
	color: #ffffff;
	font-weight: normal;
	text-shadow: none;
}

.inactiveBrowserWindow .gridViewRowSelected {
	background: url(/images/gui/selectedu.png);
	color: #000000;
}

.gridViewRowSelectedUnfocused {
	background: url(/images/gui/selectedu.png);
	color: #000000;
	font-weight: normal;
	text-shadow: none;
}

.itemGridView {
	overflow: hidden;
	border-width: 1px;
	border-top: 1px solid #444444;
	border-left: 1px solid #888888;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #444444;
	background-color: #f8f8f8;
}

.itemGridViewTitle {
	height: 15px;
	padding: 0px;
	overflow: hidden;
	background-image: url(/images/gui/gridview_title_bg2.png);
	border-bottom: 1px solid #aaaaaa;
}

.itemGridViewTitleItem {
	float: left;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #aaaaaa;
	margin: 0px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-weight: bold;
}

.itemGridViewContents {
	top: 15px;
	padding-top: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #aaaaaa;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #d0d7e2;
	border-top: 1px solid #444444;
	border-right-color: #444444;
	border-left-color: #c0c7d2;
	border-bottom: 1px solid #444444;
}

.inactiveBrowserWindow .itemGridViewContents {
	background-color: #e5e6e2;
}

.itemGridViewRow, .itemGridViewRowSelected, .itemGridViewRowSelectedUnfocused {
	height: 20px;
	line-height: 20px;
	padding: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

.itemGridViewRow {
	color: #000000;
	text-shadow: none;
	font-weight: normal;
}

.itemGridViewRowSelected {
	background: url(/images/gui/selected2.png);
	color: #ffffff;
	font-weight: bold;
	text-shadow: #102040 0px 0px 2px;
}

.inactiveBrowserWindow .itemGridViewRowSelected {
	background: url(/images/gui/selected2u.png);
}

.itemGridViewRowSelectedUnfocused {
	background: url(/images/gui/selected2u.png);
	color: #ffffff;
	font-weight: bold;
	text-shadow: #102040 0px 0px 2px;
}


.gridViewColumn, .itemGridViewColumn {
	float: left;
	padding-left: 4px;
	padding-right: 1px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	overflow: hidden;
	cursor: default;
}

.itemGridViewColumn {
	height: 20px;
	line-height: 20px;
	font-size: 11px;
}

.gridViewColumn {
	height: 17px;
	font-size: 12px;
}

dl {
	margin: 0px 10px 10px 10px;
}

dt {
	margin-top: 10px;
	font-weight: bold;
	font: 15px Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
}

dd a {
	color: #444;
}

#welcomeLogoHolder {
	-webkit-user-select:none;
	-moz-user-select:none;
}
	
.welcomeColumn {
	width: 300px; 
	top: 299px; 
	bottom: 70px; 
	float: left;
}
	
.welcomeLeft {
	z-index: 100; 
}

.welcomeLeft dl {
	margin-left: 30px;
}

.welcomeRight dl {
	margin-right: 30px;
}

#welcomeArea, #welcomeLogoHolder {
	position: absolute;
	width: 900px;
	top: 0px;
	bottom: 70px;
	left: 50%;
	margin-left: -450px;
	overflow: auto;
}


#welcomeArea td {
	vertical-align: top;
	width: 33%;
}