<div class="windowTopLeft"></div>
<div class="windowTop"></div>
<div class="windowTopRight"></div>
<div class="windowLeft"></div>
<div class="windowRight"></div>
<div class="windowBottomLeft"></div>
<div class="windowBottom"></div>
<div class="windowBottomRight"></div>
<div class="windowCenter">
	<form id="loginForm" onsubmit="return false;">
		<div id="loginDiv">&nbsp;</div>
		<div class="windowButtonHolder">
			<!--<div class="buttonOk" id="buttonOk">login</div>-->
			<button id="loginButton" type="goo"><img src="/images/gui/loginHouse.png"/></button>
		</div>
	</form>
</div>
<div id="loginMessageDiv"></div>
<div class="windowLogo"></div>
