<div id="shadowTop"></div>
<div>
<div id="iconBarTitle">&nbsp;</div>
<div id="iconBar"></div>
</div>
<div>
	<div id="tabBar">&nbsp;</div>
	<div id="itemListArea"></div>
	<div id="mainArea">
		<div id="mainAreaLeft">&nbsp;</div>
		<div id="mainAreaRight">
		<div class="topLeft"></div>
		<div class="top"></div>
		<div class="topRight"></div>
		<div class="left"></div>
		<div class="right"></div>
		<div class="bottomLeft"></div>
		<div class="bottom"></div>
		<div class="bottomRight"></div>
		<div id="mainAreaForm">&nbsp;</div>
		</div>
	</div>
</div>
<div id="saveButtonHolder" align="right">
	<div id="saveButton"></div>
</div>
<div id="fullWindowArea"></div>
