<div id="shadowTop"></div>
<div>
<div id="iconBarTitle">&nbsp;</div>
<div id="iconBar"></div>
</div>
<div>
	<div id="tabBar">&nbsp;</div>
	<div id="itemListArea"></div>
	<div id="mainArea">
		<div id="mainAreaRight">
			<div id="mainAreaForm">&nbsp;</div>
		</div>
	</div>
</div>
<div id="mainBottom"></div>
<div id="saveButtonHolder" align="right">
	<div id="saveButton"></div>
</div>
<div id="fullWindowArea"></div>
<div id="shadowBottom"></div>
<div id="shadowLeft"></div>
<div id="shadowRight"></div>

<a id="close" href="#" onclick="OpenPanel.Controller.action({command: 'Logout'});"><img src="/images/blank.gif" width="15" height="15" border="0"/></div>
