Source: openpanel-gui
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), python (>= 2.5)
Standards-Version: 3.7.2

Package: openpanel-gui
Architecture: any
Depends: ${misc:Depends}
Recommends: openpanel-core (>= 0.8.3)
Conflicts: openpanel-core (<< 0.8.3)
Description: OpenPanel HTML based gui
