.gridView {
	overflow: hidden;
	border-width: 1px;
	border-top: 1px solid #898989;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
	background-color: #f8f8f8;
}

.gridViewTitle {
	height: 15px;
	padding: 0px;
	overflow: hidden;
	background-image: url(/images/gui/gridview_title_bg.png);
	border-bottom: 1px solid #666666;
}

.gridViewTitleItem {
	float: left;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #aaaaaa;
	margin: 0px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-weight: bold;
}

.gridViewContents {
	top: 15px;
	padding-top: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #aaaaaa;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f8f8f8;
	border-top: 0px;
	border-right-color: #666666;
	border-left-color: #888888;
	border-bottom-color: #666666;
}

.gridViewRow, .gridViewRowSelected, .gridViewRowSelectedUnfocused {
	height: 17px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
}

.gridViewRow {
	color: #000000;
	text-shadow: none;
	font-weight: normal;
}

.gridViewRowSelected {
	background: url(/images/gui/selected.png);
	color: #ffffff;
	font-weight: normal;
	text-shadow: none;
}

.inactiveBrowserWindow .gridViewRowSelected {
	background: url(/images/gui/selectedu.png);
	color: #000000;
}

.gridViewRowSelectedUnfocused {
	background: url(/images/gui/selectedu.png);
	color: #000000;
	font-weight: normal;
	text-shadow: none;
}

.itemGridView {
	overflow: hidden;
	border-width: 1px;
	border-top: 1px solid #444444;
	border-left: 1px solid #888888;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #444444;
	background-color: #f8f8f8;
}

.itemGridViewTitle {
	height: 15px;
	padding: 0px;
	overflow: hidden;
	background-image: url(/images/gui/gridview_title_bg2.png);
	border-bottom: 1px solid #aaaaaa;
}

.itemGridViewTitleItem {
	float: left;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #aaaaaa;
	margin: 0px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-weight: bold;
}

.itemGridViewContents {
	top: 15px;
	padding-top: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #aaaaaa;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #d0d7e2;
	border-top: 1px solid #444444;
	border-right-color: #444444;
	border-left-color: #c0c7d2;
	border-bottom: 1px solid #444444;
}

.inactiveBrowserWindow .itemGridViewContents {
	background-color: #e5e6e2;
}

.itemGridViewRow, .itemGridViewRowSelected, .itemGridViewRowSelectedUnfocused {
	height: 17px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
}

.itemGridViewRow {
	color: #000000;
	text-shadow: none;
	font-weight: normal;
}

.itemGridViewRowSelected {
	background: url(/images/gui/selected2.png);
	color: #ffffff;
	font-weight: bold;
	text-shadow: #102040 0px 0px 2px;
}

.inactiveBrowserWindow .itemGridViewRowSelected {
	background: url(/images/gui/selected2u.png);
}

.itemGridViewRowSelectedUnfocused {
	background: url(/images/gui/selected2u.png);
	color: #ffffff;
	font-weight: bold;
	text-shadow: #102040 0px 0px 2px;
}


.gridViewColumn, .itemGridViewColumn {
	float: left;
	height: 17px;
	padding-left: 4px;
	padding-right: 1px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	overflow: hidden;
	cursor: default;
}
