.gridView {
	overflow: hidden;
	border-width: 1px;
	border-top: 1px solid #909090;
	border-left: 1px solid #a8a8a8;
	border-right: 1px solid #a8a8a8;
	border-bottom: 1px solid #a8a8a8;
	background-color: #f8f8f8;
}

.gridViewTitle {
	height: 15px;
	padding: 0px;
	overflow: hidden;
	background: url(/images/gui/gridview_title_bg.png);
	border-bottom: 1px solid #666666;
}

.gridViewTitleItem {
	float: left;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #aaaaaa;
	margin: 0px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-weight: bold;
}

.gridViewButtonArea {
	height: 21px;
	padding: 0px;
	background: url(/images/gui/gridBottomMiddle.png) repeat-x 0 0px;
	border-top: 1px solid #a8a8a8;
	border-bottom: 0px;
	margin: 0px;
}

.gridViewCreateButton, .gridViewCreateButtonPushed, .gridViewCreateButtonDisabled, .gridViewDeleteButton, .gridViewDeleteButtonPushed, .gridViewDeleteButtonDisabled {
	float: left;
	height: 21px;
	width: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-right: 1px solid #a8a8a8;
}

.gridViewCreateButton {
	background: url(/images/gui/gridButtonCreate.png) no-repeat 0 0px;
}

.inactiveBrowserWindow .gridViewCreateButton {
	background: url(/images/gui/gridButtonCreateDisabled.png) no-repeat 0 0px;
}

.gridViewCreateButtonPushed {
	background: url(/images/gui/gridButtonCreatePushed.png) no-repeat 0 0px;
}

.gridViewCreateButtonDisabled {
	background: url(/images/gui/gridButtonCreateDisabled.png) no-repeat 0 0px;
}

.gridViewDeleteButton {
	background: url(/images/gui/gridButtonDelete.png) no-repeat 0 0px;
}

.inactiveBrowserWindow .gridViewDeleteButton {
	background: url(/images/gui/gridButtonDeleteDisabled.png) no-repeat 0 0px;
}

.gridViewDeleteButtonPushed {
	background: url(/images/gui/gridButtonDeletePushed.png) no-repeat 0 0px;
}

.gridViewDeleteButtonDisabled {
	background: url(/images/gui/gridButtonDeleteDisabled.png) no-repeat 0 0px;
}

.gridViewContents {
	top: 15px;
	padding-top: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #aaaaaa;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f8f8f8;
	border-top: 0px;
	border-right-color: #a8a8a8;
	border-left-color: #a8a8a8;
	border-bottom-color: #a8a8a8;
}

.gridViewRow, .gridViewRowSelected, .gridViewRowSelectedUnfocused {
	height: 17px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
}

.gridViewRow {
	color: #000000;
	text-shadow: none;
	font-weight: normal;
}

.gridViewRowSelected {
	background: url(/images/gui/selected.png);
	color: #ffffff;
	font-weight: normal;
	text-shadow: none;
}

.inactiveBrowserWindow .gridViewRowSelected {
	background: url(/images/gui/selectedu.png);
	color: #000000;
}

.gridViewRowSelectedUnfocused {
	background: url(/images/gui/selectedu.png);
	color: #000000;
	font-weight: normal;
	text-shadow: none;
}

.itemGridView {
	overflow: hidden;
	border-width: 1px;
	border-top: 1px solid #444444;
	border-left: 1px solid #888888;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #444444;
	background-color: #f8f8f8;
}

.itemGridViewTitle {
	height: 15px;
	padding: 0px;
	overflow: hidden;
	background-image: url(/images/gui/gridview_title_bg2.png);
	border-bottom: 1px solid #aaaaaa;
}

.itemGridViewTitleItem {
	float: left;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #aaaaaa;
	margin: 0px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	font-weight: bold;
}

.itemGridViewContents {
	top: 15px;
	padding-top: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #aaaaaa;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #d0d7e2;
	border-top: 1px solid #444444;
	border-right-color: #444444;
	border-left-color: #c0c7d2;
	border-bottom: 1px solid #444444;
}

.inactiveBrowserWindow .itemGridViewContents {
	background-color: #e5e6e2;
}

.itemGridViewRow, .itemGridViewRowSelected, .itemGridViewRowSelectedUnfocused {
	height: 20px;
	line-height: 20px;
	padding: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

.itemGridViewRow {
	color: #000000;
	text-shadow: none;
	font-weight: normal;
}

.itemGridViewRowSelected {
	background: url(/images/gui/selected2.png);
	color: #ffffff;
	font-weight: bold;
	text-shadow: #102040 0px 0px 2px;
}

.inactiveBrowserWindow .itemGridViewRowSelected {
	background: url(/images/gui/selected2u.png);
}

.itemGridViewRowSelectedUnfocused {
	background: url(/images/gui/selected2u.png);
	color: #ffffff;
	font-weight: bold;
	text-shadow: #102040 0px 0px 2px;
}


.gridViewColumn, .itemGridViewColumn {
	float: left;
	padding-left: 4px;
	padding-right: 1px;
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans Regular;
	overflow: hidden;
	cursor: default;
}

.gridViewColumn {
	height: 17px;
}
