

body {
	background-image: url(/images/gui/nothernlightsbg.jpg);
	background-repeat: no-repeat;
}

img, input
{
	behavior: url(/js/iepngfix/iepngfix.htc);
}

#modal {
	position: absolute;
	width: 990px;
	height: 1000px;
	float:left;
	z-index: 10000;
	background-color: #000;
	/* for IE */
	filter:alpha(opacity=0);
	/* CSS3 standard */
	opacity:0.0;
	visibility: hidden;
}

#modalMessageDiv {
	z-index: 10001;
	padding-top: 99px;
	width: 990px;
	height: 400px;
	background-color: #e0e0e0;
	position: absolute;
	left: 50%; 
	margin-top: 98px;
	margin-left: -495px; 
	visibility: hidden;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
	visibility: hidden;
}

#modalMessageContent {
	width: 190px;
	height: 100px;
	background-color: #e0e0e0;
}

addDeleteButtonHolder {
	padding-top: 20px;
}

.addButton, .addButtonDisabled {
	width: 23px;
	height: 22px;
	background-repeat: no-repeat;
	float: left;
}

.addButton {
	background-image: url(/images/gui/addButton.png);
	cursor: pointer;
}

.addButtonDisabled {
	background-image: url(/images/gui/addButton.png);
}

.deleteButton, .deleteButtonDisabled {
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	float: left;
}

.deleteButton {
	background-image: url(/images/gui/deleteButton.png);
	cursor: pointer;
}

.deleteButtonDisabled {
	background-image: url(/images/gui/deleteButtonDisabled.png);
}


#app {
	width: 900px;
	height: 488px;
	text-align: left;
	padding-top: 20px;
}

#mainBottom {
	height: 26px;
	background-image: url(/images/gui/groupFrameBottom.png);
	background-repeat: no-repeat;
}

.FormObject {
	border: solid 2px #000;
	padding: 4px;
	background-color: #e0e0e0;
}

.childFormObjects {
	border: solid 2px #000;
	background-color: #ffe0e0;
}

.nameDiv {
	font-weight: bolder;
	color: #ff0000;
}

#menu {
	width: 900px;
	height: 40px;
}

#nav {
	width: 200px;
	height: 400px;
}

#mainArea {
	width: 900px;
	height: 500px;
	background-image: url(/images/gui/groupFrameMiddle.png);
}

#mainAreaLeft {
	clear: both;
	width: 220px;
	height: 400px;
	margin-left: 25px;
	margin-right: 0px;
	float: left;
}

#mainAreaRight {
	width: 610px;
	height: 500px;
	border: solid 1px #000;
	float: left;
	overflow-y: scroll;
}

#debug {
	font-size: 8px;
	width: 200px;
	visibility: hidden;
}

#debugList ul {
	padding-left: 10px;
	list-style-type: disc;
}

#iconBar{
	height: 78px;
	width: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-image: url(/images/gui/iconBarBackground.png);
	background-repeat: no-repeat;
	
}

.iconBarDiv {
	
}

.iconBarTitle {
	position: absolute;
	width: 900px;
	text-align: center;
}

.iconHolder {
	padding-left: 10px;
}

.iconHolder li {
	display: inline;
	float : left;
}

.iconDivLeft, .iconDivRight, .iconDivMain {
	float: left;
	display: block;
	height: 78px;
	background-repeat: repeat-x;
}

.selected .iconDivLeft {
	background-image: url(/images/gui/iconBarSelectedLeft.png);	
}

.selected .iconDivRight {
	background-image: url(/images/gui/iconBarSelectedRight.png);	
}

.selected .iconDivMain {
	background-image: url(/images/gui/iconBarSelectedMiddle.png);
}

.classDescription, .classIcon {
	text-align: center;
	cursor: pointer;
}

.classDescription{
	display: block;
	height: 20px;
	vertical-align: bottom;	
}

.classIcon {
	display: block;
	height: 34px;
	padding-top: 28px;
}

.iconDivLeft, .iconDivRight {
	width: 3px;
}

.iconDivMain {
	padding: 0px 2px 0px 2px;
	min-width: 40px;
}

#tabBar {
	clear: both;
	height: 37px;
	width: 900px;
	background-image: url(/images/gui/groupFrameTop.png);
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
}

#tabBarDiv {
	position: relative;
	width: 400px; 
	left: 50%; 
	padding-top: 13px;
	margin-left: -200px; 
	height: 30px;
}

.tabHolder {
	list-style-type: none;
	
}

.tabHolder li {
	display: inline;
	float : left;
	
}

li.tab, li.tabSelected, .tabStart ,.tabStartSelected ,.tabEnd ,.tabEndSelected, .tabDelimiter, .tabDelimiterSelected, li.tabDisabled {
	margin:0;
	padding:0;
	height:21px;
	display:inline;
	line-height:21px;
	cursor: pointer;
}

li.tab, li.tabDisabled  {
	background-image: url(/images/gui/tab_fill.png);
	padding-left: 5px;
	padding-right: 5px;
}

li.tabSelected {
	background-image: url(/images/gui/tab_hlite.png);
	padding-left: 5px;
	padding-right: 5px;
}

li.tabDisabled {
	cursor: default;
}

.tabDisabled {
	color: #808080;
}
.tabStart, .tabStartSelected, .tabEnd, .tabEndSelected, .tabDisabled {
	padding: 3px;
	background-repeat: repeat-x;
}

.tabStart {
	background-image: url(/images/gui/tab_start.png);
}

.tabStartSelected {
	background-image: url(/images/gui/tab_start_selected.png);
}

.tabEnd {
	background-image: url(/images/gui/tab_end.png);
}

.tabEndSelected {
	background-image: url(/images/gui/tab_end_selected.png);
}

.tabDelimiter {
	background-image: url(/images/gui/tab_delimiter.png);
	padding-left: 1px;
	height:21px;
}

.tabDelimiterSelected {
	background-image: url(/images/gui/tab_delimiter_selected.png);
	padding-left: 1px;
	height:21px;
}
