<link rel="stylesheet" type="text/css"	href="css/browsers.css">
<div id="browsers">
	<div id="errorMessageExtra"><b>Unfortunately your browser is not supported.</b></div><br/>
	<div>For best performance and best presentation we recommend the latest version of one <br/>of the following browsers:</div>
	<br/>
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td class="centered"><a href="http://www.apple.com/safari/download/"><img src="/images/logo_safari.png" border="0"/></a></td>
			<td class="centered"><a href="http://www.mozilla.com/firefox"><img src="/images/logo_firefox.png" border="0"/></a></td>
			<td class="centered"><a href="http://www.google.com/chrome"><img src="/images/logo_chrome.png" border="0"/></a></td>
		</tr>
		<tr>
			<td class="centered"><a href="http://www.apple.com/safari/download/">Download Safari</a></td>
			<td class="centered"><a href="http://www.mozilla.com/firefox">Download Firefox</a></td>
			<td class="centered"><a href="http://www.google.com/chrome">Download Chrome</a></td>
		</tr>
	</table>
</div>