<div id="shadowTop"/>
<div id="iconBarTitle">&nbsp;123123123</div>
<div id="iconBar">&nbsp;</div>
<div id="tabBar">&nbsp;</div>
<div id="mainAreaLeft">&nbsp;</div>
<div id="mainArea">
	<div id="mainAreaRight">
		<div id="mainAreaForm">&nbsp;</div>
	</div>
</div>
<div id="mainBottom"></div>
<div id="saveButtonHolder" align="right">
	<div id="saveButton"></div>
</div>
<div id="shadowBottom"/>
<div id="shadowLeft"/>
<div id="shadowRight"/>

<a id="close" href="#" onclick="OpenPanel.Controller.action({command: 'Logout'});"><img src="/images/blank.gif" width="15" height="15"/></div>
