<div id="all">
	<div id="iconBar">&nbsp;</div>
	<div>
		<div id="tabBar">&nbsp;</div>
		<div id="mainArea">
			<div id="mainAreaLeft">&nbsp;</div>
			<div id="mainAreaRight">
				<div id="mainAreaForm">&nbsp;</div>
			</div>
		</div>
		<div id="mainBottom"></div>
	</div>
</div>
<div id="saveButtonHolder" align="right">
	<table id="saveButton" cellspacing="0" cellpadding="0" border="0" class="x-btn-wrap x-btn"><tbody><tr><td class="x-btn-left"><i> </i></td><td class="x-btn-center"><em unselectable="on"><button type="button" class="x-btn-text" >Save</button></em></td><td class="x-btn-right"><i> </i></td></tr></tbody></table>
</div>