@CHARSET "UTF-8";

.badField {
	background-color: #ff0000;
}

.formElement {
	background-color: #ff0000;
	margin-top: 2px;
}

.formTable {
	width: 800px;
	border: 1px solid #000;
}

.formColumn {
	vertical-align: top;
	border: 1px solid #000;
}

.formElementLabel {
	background-color: #0000FF;
	width: 140px;
	height: 20px;
	float: left;
}

.fieldElementContainer {
	background-color: #00FF00;
	float: left;
	margin-left: 2px;
}

.elementRow {
	border: 1px solid #000;
	clear: both;
	margin: 10px;
}


.rowLeftElement {
	background-color: #909090;
	width: 150px;
	float: left;
}

.rowRightElement {
	background-color: #c0c0c0;
	border: 1px solid #0f0;
	float: left;
	max-width: 200px;
}