@CHARSET "UTF-8";

.formColumn {
	border: 1px solid #000;
	background-color: #ff0000;
}

.elementContainer {
	float: left;
}

.stringElement {
	color: #000000;
	font-size: 12px;
}

.stringElementHint {
	color: #808080;
	font-size: 12px;
}

.stringElementDisabled {
	padding-top: 3px;
	font-size: 12px;
}

.textareaElement {
	color: #000000;
	font-size: 12px;
}

.textareaElementHint {
	color: #808080;
	font-size: 12px;
}

.textareaElementDisabled {
	padding-top: 3px;
	font-size: 12px;
}

.checkboxElement {
	border: 1px solid #000;
	width: 20px;
}

.labelElement {
	height: 12px;
	color: #000000;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.labelElementError {
	height: 12px;
	color: #E00000;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12px;
	
}

.radioElement {
	width: 18px;
	height: 18px;
	float: left;
	background-image: url(/images/radioButtons.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.radioElementUp {
	width: 18px;
	height: 18px;
	float: left;background-image: url(/images/radioButtons.gif);
	background-position: 0px 36px;
}

.radioElementActiveDown {
	width: 18px;
	height: 18px;
	float: left;background-image: url(/images/radioButtons.gif);
	background-position: 0px 18px;
}

.radioElementInActiveDown {
	width: 18px;
	height: 18px;
	float: left;background-image: url(/images/radioButtons.gif);
	background-position: 0px 54px;
}

.enumElement {
	color: #000000;
}

.enumElementDisabled {
	color: #a0a0a0;
}

.clickDivActive {
	padding: 2px 2px 2px 2px;
	display: block;
	position: absolute;
	top:0;
	left:0; 
	z-index: 1;
	width: 100%;
	height: 100%;
}

.clickDivInActive {
	visibility: hidden;
}

.labelTd {
	width: 30%;
	white-space: nowrap;
	text-align: right;
	padding-right: 2px;
	padding-left: 2px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.formTable td {
	padding-bottom: 4px;
}
